#chi-tiet-bao-gia{
  h3.title-chitiet-baogia{
    text-align: center;
    position: relative;
    font-size: 39px;
    color: #00999f;
    padding-bottom: 60px;
    text-transform: uppercase;
  }
  img.img-chi-tiet-bao-gia{
    width: 100%;
  }
}