#lien-he {
  h3.title {
    text-align: center;
    position: relative;
    font-size: 39px;
    color: $main-a-hover;
    padding-bottom: 60px;
  }
  h3.title:after {
    position: absolute;
    left: 50%;
    bottom: 30px;
    display: block;
    width: 60px;
    height: 1px;
    margin-left: -30px;
    background-color: #c8c8c8;
    content: ' ';
  }
  #map {
    margin-bottom: 30px;
  }
  #contact {
    margin-bottom: 30px;
    .lh-input{
      border:none;
      border-bottom: solid 1px #C8C8C8;
      box-shadow: none;
      border-radius: 0px;
    }
    .lh-datepick{
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      border-bottom: 1px solid #ccc;
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
    }
  }
  .lien-he-info {
    line-height: 1.6;
    p{
      font-size: 20px;
    }
  }
}