.menu-desktop {
  background-color: white;
  .menu-wrap {
    height: 130px;
    //overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
    .logo {
      position: absolute;
      bottom: 0;
      right: 45%;
      background-color: white;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      img {
        width: 200px;
      }
    }
    .logo-fixed{
      top:0;
      background: none;
      img{
        width: 119px;
      }
    }

    .menu-right-contact {
      float: right;
      img{
        transition: all 0.5s ease;
        height: 130px;
      }
    }
    .menu-right-contact-fixed{
      img{
        height: 73px;
      }
    }

    .menu-left-info {
      float: none;
      width: auto;
      overflow-x: auto;
      overflow-y: -webkit-paged-x;
      .menu-top-info {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #d4d4d4;
        transition: all 0.5s ease;
        height: 70px;
        margin-left: 20px;
        p {
          margin-top: 5px;
          font-size: 11px;
          color: #7a7a7a;
        }
      }
      .fixed-top {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        p{
          display: none;
        }
      }
      .menu-bottom-info {
        ul.menu-boottom-info-left {
          float: left;
          margin-left:20px
        }
        ul.menu-boottom-info-right {
          float: right;
        }
        ul.menu-boottom-info-left, ul.menu-boottom-info-right {
          padding-top: 20px;
          li {
            float: left;
            display: inline;
            margin-right: 20px;
            text-transform: uppercase;
            font-weight: bolder;
            position: relative;
            a {
              color: #00999F;
            }
          }
          li.has-item-down:hover ul {
            display: block;
          }
          ul {
            display: none;
            position: absolute;
            top: 100%;
            left: -47px;
            background: #fff;
            padding: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            z-index: 9;
            width: 200px;
            li {
              float: none;
              width: 200px;
              line-height: 1.6;
            }
            li:hover{
              a{
                //color: white;
              }
            }
          }
        }

      }
    }
  }

}
.wrap-fixed-top{
  position: fixed !important;
  background-color: white;
  height: 63px!important;
}

@media screen and(max-width: 1024px) {

}

@media screen and(max-width: 992px) {

}