#wrap-container{
  .main-wrap{
    //margin-top: -20px;
    background-color: white;
    padding: 10px 30px 30px 30px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  }
}
@media screen and(max-width: 768px) {

}
@import "fe.trangchu.section1";
@import "fe.trangchu.section2";
@import "fe.trangchu.section3";
@import "fe.trangchu.section4";
