#chi-tiet-tin-tuc{
  img.img-top {
    width: 100%;
    margin-bottom: 60px;
  }
  h3.title-chitiet-tintuc{
    text-align: center;
    position: relative;
    font-size: 30px;
    padding-bottom: 60px;
    text-transform: uppercase;
    font-family: "VNF Valentina";
    font-style: italic;
    color: #333;
  }
}